
.signup-container {
    background-color: #c7e1ca;;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .signup-form {
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .signup-form input,
  .signup-form select,
  .signup-form button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .signup-form button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .signup-form button:hover {
    background-color: #0056b3;
  }
  
  .signup-form a {
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
  }
  
  .signup-form a:hover {
    text-decoration: underline;
  }
  